/* Reset some default styles for better consistency */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color for the whole page */
body {
    background-color: #9754cb;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #28104e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Style the navigation menu */
nav {
    background-color: #6237a0;
    color: #000000;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

ol.b {
    list-style-type: square;
  }  

/* Style the main content area */
main {
    margin: 20px;
    padding: 20px;
    background-color: #deacf5;
    border: 1px solid #9754cb;
}

/* Style the sections */
section {
    margin-bottom: 20px;
}

/* Style headings */
h1 {
    color: #ffffff;
}

h3 {
    color: #000000;
    text-align: justify;
}

/* Style paragraphs */
p {
    line-height: 1.5;
    text-align: justify;
}

/* Style the footer */
footer, h5 {
    background-color: #28104e;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    text-align: center;
    width: 50px; 
    height: auto; 
}

.star-icon {
    font-size: 40px;
    color: rgb(255, 255, 255); 
    }

.star-outline {
    font-size: 44px; 
    color: rgb(0, 0, 0); 
    -webkit-text-stroke: 2px rgb(255, 255, 255); 
}

mark {
    background-color: rgb(255, 255, 255);
}