/* Reset some default styles for better consistency */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color for the whole page */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Style the navigation menu */
nav {
    background-color: #ff05b0;
    color: #000000;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

/* Style the main content area */
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Style the sections */
section {
    margin-bottom: 20px;
}

/* Style headings */
h1 {
    color: #ffffff;
}

h3 {
    color: #000000;
    text-align: justify;
}

/* Style paragraphs */
p {
    line-height: 1.5;
    text-align: justify;
}

/* Style the footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
    display: inline-block; /* Membuat logo menjadi sebuah blok yang dapat diklik */
}

img {
    text-align: center;
    width: 50px; /* Menentukan lebar logo sesuai kebutuhan */
    height: auto; /* Menyesuaikan tinggi agar tidak terdistorsi */
}